<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>App Gym</title>
</head>
<body>
    <h1>App Gym</h1>
    <div style="width: 450px;">
        <label for="">nombre</label><br>
        <input type="text" name="nombre" class="name"><br>
        <label for="">apellido</label><br>
        <input type="text" name="apellido" class="lastName"><br>
        <label for="">fecha inicio</label><br>
        <input type="date" name="fechaInicio" class="date"><br>
        <label for="">clienteId</label><br>
        <input type="text" name="clienteId" class="id"><br>
        <button class="boton">Agregar</button>
    </div>

    <div style="width: 450px; margin-top:20px;">
        <label for="">ID Cliente</label>
        <input type="text" class="idC">
        <label for="">Apellido</label>
        <input type="text" class="apellido">
        <button class="btnF">Buscar</button>
    </div>
    <div>
        <button class="btnGR">Generar resumen</button>
    </div>
    <script src="render.js"></script>
</body>
</html>